<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd">
		
    <!-- 自动扫描 -->  
    <context:component-scan base-package="com.gdp" >
        <!-- 不扫描 controller 控制器 -->
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
    </context:component-scan> 
    
    <!-- 引入配置文件 -->  
    <!-- <context:property-placeholder location="classpath:db.properties" /> -->
    <bean id="propertyConfigurer"  
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">  
        <property name="location" value="classpath:db.properties" />  
    </bean>  
 
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" 
            destroy-method="close"> 
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.username}" />
	    <property name="password" value="${jdbc.password}" />
	
	    <property name="filters" value="stat" />
	
	    <property name="maxActive" value="20" />
	    <property name="initialSize" value="1" />
	    <property name="maxWait" value="60000" />
	    <property name="minIdle" value="1" />
	
	    <property name="timeBetweenEvictionRunsMillis" value="60000" />
	    <property name="minEvictableIdleTimeMillis" value="300000" />
	
        <property name="testWhileIdle" value="true" />
	    <property name="testOnBorrow" value="false" />
	    <property name="testOnReturn" value="false" />
	
	    <property name="poolPreparedStatements" value="true" />
	    <property name="maxOpenPreparedStatements" value="20" />
	
	    <property name="asyncInit" value="true" />
    </bean>
 

    <!-- spring和MyBatis完美整合，不需要扫描mybatis的配置映射文件 -->  
    <!-- 配置 MyBatis 的工厂 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">  
        <property name="dataSource" ref="dataSource" />  
        <!-- 加载Mybatis全局配置文件 -->
        <property name="configLocation" value="classpath:spring-mybatis.xml"/>
        <property name="mapperLocations" >
            <list>
                <value>classpath:mappers/*.xml</value>
            </list>
        </property>
    </bean>  
     
    <!-- DAO接口所在包名，Spring会自动查找其下的类 -->  
    <bean class="tk.mybatis.spring.mapper.MapperScannerConfigurer">  
        <property name="basePackage" value="com.gdp.mapper" />
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
    </bean>


</beans>
