<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.it138.face.mapper.PersonMapper">
  <resultMap id="BaseResultMap" type="top.it138.face.entity.Person">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="identification" jdbcType="VARCHAR" property="identification" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="birth" jdbcType="DATE" property="birth" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="identity" jdbcType="VARCHAR" property="identity" />
    <result column="group_id" jdbcType="BIGINT" property="groupId" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
  </resultMap>
</mapper>