<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.it138.face.mapper.GroupMapper">
  <resultMap id="BaseResultMap" type="top.it138.face.entity.Group">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <result column="max_num" jdbcType="INTEGER" property="maxNum" />
    <result column="app_key" jdbcType="VARCHAR" property="appKey" />
    <result column="gmt_create" jdbcType="DATE" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="DATE" property="gmtModified" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
  </resultMap>
</mapper>