<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.it138.face.mapper.PhotoMapper">
  <resultMap id="BaseResultMap" type="top.it138.face.entity.Photo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="person_id" jdbcType="BIGINT" property="personId" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="suffix" jdbcType="VARCHAR" property="suffix" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
  </resultMap>
</mapper>