<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<!--
PetClinic :: a Spring Framework demonstration
-->

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>页面头部</title>

<!--======== Bootstrap 核心 CSS 文件 ========-->
<link rel="stylesheet" type="text/css"
	th:href="@{static/bootstrap/3.3.7/css/bootstrap.min.css}"
	href="../../static/bootstrap/3.3.7/css/bootstrap.min.css" />
<!--======== 可选的 Bootstrap 主题文件（一般不用引入） ========-->
<link rel="stylesheet" type="text/css"
	th:href="@{static/bootstrap/3.3.7/css/bootstrap-theme.min.css}"
	href="../../static/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
 	 <script th:src="@{static/html5shiv/3.7.3/html5shiv.min.js}" src="../../static/html5shiv/3.7.3/html5shiv.min.js"></script>
 	 <script th:src="@{static/respond.js/1.4.2/respond.min.js}" src="../../static/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

<!-- Bootstrap core JavaScript and validate
================================================== -->
<script type="text/javascript" th:src="@{static/jquery/3.2.1/jquery.js}"
	src="../../static/jquery/3.2.1/jquery.js"></script>
<script type="text/javascript"
	th:src="@{static/bootstrap/3.3.7/js/bootstrap.min.js}"
	src="../../static/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-default" role="navigation"
		th:fragment="bodyHeader">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#example-navbar-collapse">
					<span class="sr-only">切换导航</span> <span class="icon-bar"></span> <span
						class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" th:href="@{/}" href="#">首页</a>
			</div>
			<div class="collapse navbar-collapse" id="example-navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a sec:authorize="hasRole('ROLE_USER')" th:href="@{/appkeys/listByPage}" href="#">我的APPKEY</a></li>
					<li><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/users/listByPage}" href="#">用户管理</a></li>
					<li><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/logs/listByPage}" href="#">查看日志</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<th:block th:switch="${#authentication.name}">
						<th:block th:case="'anonymousUser'">
							<li><a href="#" th:href="@{/registration}"><span
									class="glyphicon glyphicon-user"></span> 注册</a></li>
							<li><a href="#" th:href="@{/login}"><span
									class="glyphicon glyphicon-log-in"></span> 登录</a></li>
						</th:block>
						<th:block th:case="*">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<span th:text="${#authentication.name}" th:remove="tag"></span> <b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li><a id="changePassword" href="#">修改密码</a></li>
									<li><a th:href="@{/logout}" href="#">退出</a></li>
								</ul>
							</li>
						</th:block>
					</th:block>
				</ul>
			</div>
		</div>
		
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
			function myrefresh() {
				setTimeout('window.location.reload()', 1000);
			}
		
			$(function() {
				$("#passwordForm").validate({
					rules : {
						oldPassword : {
							required : true,
							rangelength:[6,16]
						},
						password : {
							required : true,
							rangelength:[6,16]
						},
						password2 : {
							required : true,
							rangelength:[6,16]
						}
					}
				});
			});
			
		function passwordEdit() {
			if (!$("#passwordForm").valid()) {
				return;
			}
			var formData = $("#passwordForm").serializeArray();
			$.post({
				url : /*[[@{/changePassword}]]*/"/changePassword2",
				data : formData,
				success : function(data) {
					if (data.success) {
						$("#passwordnote").text("修改成功");
						myrefresh();
					} else {
						$("#passwordnote").text("修改失败，" + data.errorMsg);
					}
				}
			});
		}
		
		$(function() {
			$("#changePassword").click(function() {
				$("#passwordForm")[0].reset();
				$("#passwordModal").modal('toggle');
			});
		});
		
		/*]]>*/
		</script>
		
		<!-- 模态框（Modal） -->
	<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">新增分组</h4>
				</div>
				<div class="modal-body">
					<form role="form" id="passwordForm">
						<div class="form-group">
							<label for="groupName">旧密码</label> <input type="password"
								class="form-control" name="oldPassword" id="oldPassword"
								placeholder="旧密码">
						</div>
						<div class="form-group">
							<label for="maxNum">新密码</label> <input type="password"
								class="form-control" name="password" id="password"
								placeholder="新密码">
						</div>
						<div class="form-group">
							<label for="maxNum">重复密码</label> <input type="password"
								class="form-control" name="password2" id="password2"
								placeholder="重复输入一次新密码">
						</div>
						<button type="button" onClick="passwordEdit()" id="passwordBtn" class="btn btn-default">提交</button>
					</form>
					<div>
						<p id="passwordnote" class="text-success"></p>
					</div>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal -->
	</div>
	</nav>
</body>

</html>