<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:fragment="headTag">
	<!--======== Bootstrap 核心 CSS 文件 ========-->
	<link rel="stylesheet" type="text/css"
		th:href="@{/static/bootstrap/3.3.7/css/bootstrap.min.css}"
		href="../../static/bootstrap/3.3.7/css/bootstrap.min.css" />
	<!--======== 可选的 Bootstrap 主题文件（一般不用引入） ========-->
	<link rel="stylesheet" type="text/css"
		th:href="@{/static/bootstrap/3.3.7/css/bootstrap-theme.min.css}"
		href="../../static/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
 	 <script th:src="@{/static/html5shiv/3.7.3/html5shiv.min.js}" src="../../static/html5shiv/3.7.3/html5shiv.min.js"></script>
 	 <script th:src="@{/static/respond.js/1.4.2/respond.min.js}" src="../../static/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	
	<!-- Bootstrap core JavaScript and validate
================================================== -->
	<script type="text/javascript"
		th:src="@{/static/jquery/3.2.1/jquery.min.js}"
		src="../../static/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript"
		th:src="@{/static/bootstrap/3.3.7/js/bootstrap.min.js}"
		src="../../static/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- jquery valide
================================================== -->
	<script type="text/javascript"
		th:src="@{/static/jquery.validate/1.17.0/jquery.validate.min.js}"
		src="../../static/jquery.validate/1.17.0/jquery.validate.min.js"></script>
	<script type="text/javascript"
		th:src="@{/static/jquery.validate/1.17.0/additional-methods.min.js}"
		src="../../static/jquery.validate/1.17.0/additional-methods.min.js"></script>
	<script type="text/javascript"
		th:src="@{/static/jquery.validate/1.17.0/localization/messages_zh.min.js}"
		src="../../static/jquery.validate/1.17.0/localization/messages_zh.min.js"></script>
	<!-- 自己写的loadData插件
================================================== -->	
	<script type="text/javascript"
		th:src="@{/static/my/jquery.loadData.js}"
		src="../../static/my/jquery.loadData.js"></script>
	<!-- datatimepicker插件
================================================== -->	
	<link rel="stylesheet" type="text/css"
		th:href="@{/static/bootstrap/datetimepicker/css/bootstrap-datetimepicker.min.css}" />
	<script type="text/javascript"
		th:src="@{/static/bootstrap/datetimepicker/js/bootstrap-datetimepicker.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/static/bootstrap/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>
</th:block>
</head>
<body>

</body>
</html>